@import '../main/vars.scss';

.header {
    padding: 5.2rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;


    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__menu {

    }

    &__menu a {
        color: inherit;
        text-decoration: none;
        padding: 0.5rem 2.6rem;
        font-size: 2rem;
    
        &.active {
            color:$secondary-color;
            font-weight: 600;
        }
        
        &:hover {
            color:$secondary-color;
        }
    }

    &__group {
        

    }

    &__group-btn {
        border: 0;
        background-color: rgba(0,0,0,0);
        cursor: pointer;
        position: relative;
        margin-left: 3.2rem;

        img {}

        span {
            position: absolute;
            top: -1.6rem;
            right: -1rem;
            background-color: $secondary-color;
            color: #fff;
            height: 1.8rem;
            width: 1.8rem;
            border-radius: 50%;
            border: 1px solid #fff;
            text-align: center;
            line-height: 1.6rem;
        }
    }

}