section.fs.container
    .fs__row
        .fs__content
            p.fs__hashtag #Ornamental Plant
            h1.fs__title Various Indoor Plant Shop
            p.fs__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
            .fs__btns
                a(href="#").fs__btn Add To Card
                a(href="#").fs__btn Learn More
            .fs__img
                .fs__img-inner
                    img(src="./assets/imgs/header.png", alt="plant")
                    div.fs_items
                        div.item--first
                            img(src="./assets/imgs/leaf.svg", alt="").item__img
                            .item__content
                                .item__title Best Sell IndoorPlant
                                .item__text
                        div.item
                            img(src="./assets/imgs/leaf.svg", alt="").item__img
                            .item__content
                                .item__title Best Sell IndoorPlant
                                .item__text
                        div.item
                            img(src="./assets/imgs/leaf.svg", alt="").item__img
                            .item__content
                                .item__title Best Sell IndoorPlant
                                .item__text
                        div.item
                            img(src="./assets/imgs/leaf.svg", alt="").item__img
                            .item__content
                                .item__title Best Sell IndoorPlant
                                .item__text