header.header
    .container
        .header__row
            a(href="index.html").header__logo
                img(src="./assets/imgs/logo.svg", alt="landix")
            menu.header__menu
                a(href="#").active Home
                a(href="#") About Us
                a(href="#") Priducts
                a(href="#") News
                a(href="#") Contact Us
            .header__group
                button.header__group-btn
                    img(src="./assets/imgs/glass.svg", alt="search")
                a(href="#").header__group-btn
                    img(src="./assets/imgs/cart.svg", alt="cart")
                    span 2
                a(href="#").header__group-btn
                    img(src="./assets/imgs/user.svg", alt="user")